html, body { 
    --color-1: #a8e6cf;
    --color-2: #dcedc1; 
    --color-3: #ffffff; 
    --color-4: #ffaaa5; 
    --color-5: #ff8b94;
    margin: 0;
    padding: 0;
    

}
#logo{
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin: -0px;
    cursor: default;
}

body {
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(135deg, var(--color-1) , var(--color-2));
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: black;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#title{
    font-size: 80px;
    color: #a8e6cf;
    margin: 15px;
}

#cows{
    /* letter-spacing: -.01em; */
}

.container {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    /* box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75); */
    padding: 50px;
    border-radius: 1em;
    cursor: default;
}
p{
    color: rgb(0, 40, 77);
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 40px;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: var(--color-3);
    margin: 0 auto;
    font-size: 80px;
    display: block;
    font-size: 70px;
    align-items: center;
    justify-content: center;    
}


button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn {
    background-color: var(--color-5);
}

#resetBtn {
    background-color: var(--color-4);
}

button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

.active {
    /* opacity: 1.0; */
    box-shadow: -2px 6px 18px 3px rgba(211, 211, 211, 0.75);
}

:root {
  --animate-duration: .5s;
}

.cow-count {
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.cow-count #one-cows{
    padding-left: 35px;
}

.cow-count #two-cows{
    padding-right: 35px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 140px;
    /* left: 45%; */
    margin-left: -10px;
    font-size: 20px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }